# Ingore the IDE folder
.idea
.codex

# Ignore most of the docker directory contents
docker

# Ignore some front-end directories
frontend/dist/
frontend/.parcel-cache/
frontend/node_modules

# Ignore backend executables
backend/bin

debug.sh

pg
pg_backup

backend/*preprocessor
backend/*downloader

.sync
docs
backend/Lissy
backend/Analyticity*

# Ignore local testing artifacts
testing/.state/
testing/outputs/
testing/**/__pycache__/
